# Teste: Avaliando e desenvolvendo intuição
Use o espaço abaixo para explorar o arquivo `census_income_data.csv` e responder as perguntas do teste abaixo.

In [2]:
# Importe o pandas
import pandas as pd

# Carregue os dados de renda do censo
df_census = pd.read_csv("census_income_data.csv")

# Imprimindo os iniciais para conferir
display(df_census.head())

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
# Para respondermos algumas perguntas, o método describe irá ajudar
#Uso display ao invés de print pois o formato fica melhor no notebook
display (df_census.describe())

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [72]:
# Vamos armazenar o resultado da describe para não chamá-la a todo momento
describe = df_census.describe()

# N de linhas:
print("Número de linhas usando describe: {0}".format(describe['age']['count']))
print("Número de linhas usando shape: {0} \n".format(df_census.shape[0]))

# N de colunas:
print("Número de colunas: {0} \n".format(df_census.shape[1]))

# Tipos de dados de várias colunas (\n pula linha)
print("Tipo de age: {0}".format(df_census.age.dtype))
print("Tipo de workclass: {0}".format(type(df_census.workclass[0])))
print("Tipo de education: {0}".format(type(df_census.education[0])))
print("Tipo de relationship: {0}".format(type(df_census.relationship[0])))
print("Tipo de hours-per-week: {0}".format(type(df_census["hours-per-week"][0])))
print("Tipo de income: {0} \n".format(type(df_census.income[0])))
# Valores Faltantes (poderíamos verificar uma coluna por vez mas 
#  essa forma é elegante)
print("Colunas com valores Faltantes: \n {0} \n".format(
    df_census.columns[df_census.isnull().any()].values))

# N de valores únicos de educação
print("Valores Únicos de educação: {0}".format(df_census["education"].nunique()))

# Idade Média
print("Idade média: {0} \n".format(round(describe["age"]["mean"], 0)))

# 75% horas por semana
print("75% horas por semana: {0}".format(describe["hours-per-week"]["75%"]))

Número de linhas usando describe: 32561.0
Número de linhas usando shape: 32561

Número de colunas: 15

Tipo de age: int64
Tipo de workclass: <class 'str'>
Tipo de education: <class 'str'>
Tipo de relationship: <class 'str'>
Tipo de hours-per-week: <class 'numpy.int64'>
Tipo de income: <class 'str'>

Colunas com valores Faltantes:
 ['workclass' 'occupation' 'native-country']

Valores Únicos de educação: 16
Idade média: 39.0

75% horas por semana: 45.0